# --- Flask ---
SECRET_KEY=change-me-to-a-long-random-string
FLASK_ENV=production

# --- Site Url ---
SITE_URL=dev.de

# --- Kontaktformular / Migadu SMTP ---
NEPIDESK_CONTACT_TO=gmail.com
NEPIDESK_SMTP_HOST=smtp.gmail.com
NEPIDESK_SMTP_PORT=465
NEPIDESK_SMTP_USER=gmail.com
NEPIDESK_SMTP_PASS=passwort

# --- Rate Limit ---
RATE_LIMIT_SECONDS=30

# --- Grafana / Infra ---
GRAFANA_BASE=graphana.link

# --- Impressum ---
IMPRESSUM_NAME=Mustermann
IMPRESSUM_STRASSE=Musterstraße 1
IMPRESSUM_ORT=12345, Musterstadt
IMPRESSUM_EMAIL=kontakt